@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Gothic+A1&family=Meddon&family=Arvo&family=Cormorant+Garamond:wght@300&family=Cormorant+Infant:wght@300&family=Cormorant:wght@300&family=DM+Serif+Display&family=Oswald&family=DM+Serif+Text&family=Inria+Serif:wght@300&family=Old+Standard+TT&family=Oranienbaum&family=Playfair+Display&family=Prata&family=Rozha+One&family=Ultra&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu&family=Barlow&family=Roboto&family=Open+Sans&family=Lobster&family=Poiret+One&family=Pompiere&family=Shanti&display=swap');

html {
    background-color: #f7f4ed;
    font-family: Roboto;
}

.App {
  text-align: center;
  font-family: Roboto;
}

input {
    width: 200px;
}

.button {
    color: #828FAB;
    background-color: #e7dece;
    border: 1px solid #828FAB;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    font-size:16px;
}

.canvas-wrapper {
    width: 70%;
    margin: auto;
}

@media (max-width: 800px) {
    .canvas-wrapper canvas {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .canvas-wrapper {
        width: 100%;
        /* height: 350px; */
    }
}

.fadein {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.posterBox {
    border: 2px dotted black;
    margin: 10px auto;
    width: 40%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    background-color: #faf8f5;
}


@media (max-width: 900px) {
    .posterBox {
        width: 80%;
        display: block;
        margin: 10px auto;
    }
}

.posterBox img {
    width: 250px;
}

form textarea {
    min-height: 500px;
    min-width: 60%;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      border-radius: 20%;
    /* animation: App-logo-spin infinite 40s linear; */
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #6e7a6a;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
    text-align: center;
    min-height: 60px;
    margin-top: 20px;
    /* background-color: #f7f4ed; */
}

nav.reports a {
    /* padding-top: 20px; */
    color: black;
    padding: 20px;
    font-family: "Playfair Display";
}

ul {
    margin-top: 50px;
}

nav li {
    background-color: none;
    display: inline;
    margin: 10px;
    padding: 20px;
}

li a {
    color: black;
    /* font-family: "Playfair Display"; */
    font-family: "Roboto";
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

li a:hover {
    text-decoration: underline;
}

.article-standard {
    background-color:#f7f4ed;
    padding: 20px;
    margin: auto;
}

.article-standard p {
    width: 50%;
    margin: 20px auto;
    color: #727468;
    font-family: "Roboto";
    /* font-family: "Barlow"; */
}

.article-standard a {
    color: #222;
}

@media (max-width: 1000px) {
    .article-standard p {
        width: 70%;
    }
}

.App-link {
  color: #888;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* chat design */
.all-messages {
    width: 100%;
    height: 30vh;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 2rem;
    width: 70%;
    height: 300px;
    overflow:scroll;
    overflow-x:hidden;
}

.all-messages p {
    width: 100%;
}

.all-messages p:nth-child(1n) {
    background-color: #faf8f2;
    padding: 5px 10px;
    margin: 0 auto;
}

.all-messages p:nth-child(2n) {
    background-color: #f0e9dd;
}

.chatscroll {
    /* overflow:scroll;
    overflow-x:hidden; */
}

.new-message {
    width: 50%;
    height: 5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-bottom: 2rem; */
    font-size: 1.2rem;
}
